<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingProductAndServiceCategory</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.LoadingProductAndServiceCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ProductPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailByTypeController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ProductDetailByTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToUserProfileController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.GoToUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductDetailByTypeController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SearchProductDetailByTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductCategoryController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SearchProductCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductDetailPriceUpController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SortProductDetailPriceUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicePageController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ServicePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordProductCategoryUpController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.WordProductCategoryUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordProductCategoryDownController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.WordProductCategoryDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductPriceDownController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SortProductPriceDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordDetailDownController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.WordDetailDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordDetailUpController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.WordDetailUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceCategoryController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SearchServiceCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordServiceCategoryUpController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.WordServiceCategoryUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WordServiceCategoryDownController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.WordServiceCategoryDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailByTypeController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ServiceDetailByTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerInfoController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.UpdateCustomerInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_NewProduct_Controller</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Add_NewProduct_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_NewService_Controller</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Add_NewService_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_NewStaff_Controller</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Add_NewStaff_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_ChangePasswordController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Delete_ProductController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Delete_ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Delete_ServiceController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Delete_ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Delete_StaffController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Delete_StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Edit_ProductController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Edit_ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Edit_ServiceController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Edit_ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Edit_StaffController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Edit_StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Filter_ProductController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Filter_ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Filter_ServiceController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Filter_ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Filter_StaffController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Filter_StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_OrderController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_ProductController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_ServiceController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_StaffController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Provider_ProductController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Search_Provider_ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Provider_ServiceController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Search_Provider_ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Provider_StaffController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Search_Provider_StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Profile_ProviderController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Update_Profile_ProviderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCustomerPasswordController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ChangeCustomerPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicePriceDetailUpController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ServicePriceDetailUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicePriceDetailDownController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ServicePriceDetailDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceWordDetailDownController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ServiceWordDetailDownController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceWordDetailUpController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ServiceWordDetailUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceDetailByTypeController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SearchServiceDetailByTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Order_DetailController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Order_DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectProvinceController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SelectProvinceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddressController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.AddAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListAddressController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ShowListAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddressController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.DeleteAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAddressDefaultController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.SetAddressDefaultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddressController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.UpdateAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider_Delete_OrderController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Provider_Delete_OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryHomeController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.DeliveryHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delivery_Order_DetailController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Delivery_Order_DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Delivery_StatusController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.Update_Delivery_StatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadingProductAndServiceCategory</servlet-name>
        <url-pattern>/LoadingProductAndServiceCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageController</servlet-name>
        <url-pattern>/ProductPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailByTypeController</servlet-name>
        <url-pattern>/ProductDetailByTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToUserProfileController</servlet-name>
        <url-pattern>/GoToUserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductDetailByTypeController</servlet-name>
        <url-pattern>/SearchProductDetailByTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductCategoryController</servlet-name>
        <url-pattern>/SearchProductCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductDetailPriceUpController</servlet-name>
        <url-pattern>/SortProductDetailPriceUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicePageController</servlet-name>
        <url-pattern>/ServicePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordProductCategoryUpController</servlet-name>
        <url-pattern>/WordProductCategoryUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordProductCategoryDownController</servlet-name>
        <url-pattern>/WordProductCategoryDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductPriceDownController</servlet-name>
        <url-pattern>/SortProductPriceDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordDetailDownController</servlet-name>
        <url-pattern>/WordDetailDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordDetailUpController</servlet-name>
        <url-pattern>/WordDetailUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceCategoryController</servlet-name>
        <url-pattern>/SearchServiceCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordServiceCategoryUpController</servlet-name>
        <url-pattern>/WordServiceCategoryUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WordServiceCategoryDownController</servlet-name>
        <url-pattern>/WordServiceCategoryDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailByTypeController</servlet-name>
        <url-pattern>/ServiceDetailByTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerInfoController</servlet-name>
        <url-pattern>/UpdateCustomerInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_NewProduct_Controller</servlet-name>
        <url-pattern>/Add_NewProduct_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_NewService_Controller</servlet-name>
        <url-pattern>/Add_NewService_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_NewStaff_Controller</servlet-name>
        <url-pattern>/Add_NewStaff_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_ChangePasswordController</servlet-name>
        <url-pattern>/Provider_ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Delete_ProductController</servlet-name>
        <url-pattern>/Provider_Delete_ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Delete_ServiceController</servlet-name>
        <url-pattern>/Provider_Delete_ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Delete_StaffController</servlet-name>
        <url-pattern>/Provider_Delete_StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Edit_ProductController</servlet-name>
        <url-pattern>/Provider_Edit_ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Edit_ServiceController</servlet-name>
        <url-pattern>/Provider_Edit_ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Edit_StaffController</servlet-name>
        <url-pattern>/Provider_Edit_StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Filter_ProductController</servlet-name>
        <url-pattern>/Provider_Filter_ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Filter_ServiceController</servlet-name>
        <url-pattern>/Provider_Filter_ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Filter_StaffController</servlet-name>
        <url-pattern>/Provider_Filter_StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_OrderController</servlet-name>
        <url-pattern>/Provider_OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_ProductController</servlet-name>
        <url-pattern>/Provider_ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_ServiceController</servlet-name>
        <url-pattern>/Provider_ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_StaffController</servlet-name>
        <url-pattern>/Provider_StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Provider_ProductController</servlet-name>
        <url-pattern>/Search_Provider_ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Provider_ServiceController</servlet-name>
        <url-pattern>/Search_Provider_ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Provider_StaffController</servlet-name>
        <url-pattern>/Search_Provider_StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Profile_ProviderController</servlet-name>
        <url-pattern>/Update_Profile_ProviderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCustomerPasswordController</servlet-name>
        <url-pattern>/ChangeCustomerPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicePriceDetailUpController</servlet-name>
        <url-pattern>/ServicePriceDetailUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicePriceDetailDownController</servlet-name>
        <url-pattern>/ServicePriceDetailDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceWordDetailDownController</servlet-name>
        <url-pattern>/ServiceWordDetailDownController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceWordDetailUpController</servlet-name>
        <url-pattern>/ServiceWordDetailUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceDetailByTypeController</servlet-name>
        <url-pattern>/SearchServiceDetailByTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Order_DetailController</servlet-name>
        <url-pattern>/Provider_Order_DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectProvinceController</servlet-name>
        <url-pattern>/SelectProvinceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddressController</servlet-name>
        <url-pattern>/AddAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListAddressController</servlet-name>
        <url-pattern>/ShowListAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddressController</servlet-name>
        <url-pattern>/DeleteAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAddressDefaultController</servlet-name>
        <url-pattern>/SetAddressDefaultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddressController</servlet-name>
        <url-pattern>/UpdateAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider_Delete_OrderController</servlet-name>
        <url-pattern>/Provider_Delete_OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryHomeController</servlet-name>
        <url-pattern>/DeliveryHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delivery_Order_DetailController</servlet-name>
        <url-pattern>/Delivery_Order_DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Delivery_StatusController</servlet-name>
        <url-pattern>/Update_Delivery_StatusController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>guest_landingPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
