<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingProductAndServiceCategory</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.LoadingProductAndServiceCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageController</servlet-name>
        <servlet-class>com.ebutler.swp.controllers.ProductPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadingProductAndServiceCategory</servlet-name>
        <url-pattern>/LoadingProductAndServiceCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageController</servlet-name>
        <url-pattern>/ProductPageController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>guest_landingPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
