/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Nov 9, 2022, 8:53:15 PM
    Author     : DELL
*/
:root {
    --txt-color: #6B7280;
    --primary-color: #273A89;
    --red-bg: #FEE2E2;
    --red-txt: #991B1B;
    --blue-bg: #E0E7FF;
    --blue-txt: #3C30A3;
    --yellow-bg: #FEF9C3;
    --yellow-txt: #854D0E;
    --purple-bg: #F3E8FF;
    --purple-txt: #6B21A8;
    --border-color: #E5E7EB;
    --hover-bg: #273A89;
    --hover-color: white;
    --grey-bg: #F9FAFB;
    --round: 9999px;
    --opacity: 1;
    --list-h: 2000px;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    width: 50vw;
    background-color: white;
    padding: 2rem;
}

.popup-close {
    position: absolute;
    right: 0;
    top: 2rem;
    font-size: 1.2rem;
    margin: -1.5rem 1rem; 
    width: fit-content;
}

.popup-close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.payment-method-container input {
    display: none;
}

.payment-method-container input:checked ~ label{
    border: 2px solid var(--primary-color);
}

.payment-method {
    width: 100%;
    height: 80px;
    background-color: rgb(240, 240, 240);
    border: 2px solid transparent;
    padding: .5rem;
}

.payment-method:hover {
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.payment-method img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.border-b {
    border-bottom: 1px solid rgb( 219, 219, 219);
}

.payment-item {
    display: block;
    align-items: center;
    width: 100%;
    margin: 0;
}

.payment-table {
    max-height: 35vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.payment-table::-webkit-scrollbar {
    display: none;
}

.payment-option input {
    display: none;
}

.payment-option label{
    border: 2px solid transparent;
}

.payment-option input:checked + label{
    border: 2px solid var(--primary-color);
}

.payment-item-option {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: .25rem;
}

.payment-item-option:hover {
    cursor: pointer;
}

.separate {
    width: 1px;
    background-color: rgb( 219, 219, 219);
    height: 35vh;
}

.payment-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    width: 100%;
}

.payment-item-detail {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: .25rem;
}

.payment-btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

.hide {
    display: block;
}

